---
import Layout from "../layouts/layout.astro"
import "../styles/home.scss";
---
<Layout>
	<main id='main'>
		<div class="block">
			<a href="#" class="link">Google</a>
			<p>Текст в Блок</p>
			<div class="block__text">
				<p>Текст в Блок_ текст</p>
			Текст, <span>а этот текст обёрнут в Спан</span>
		</div>
		</div>
	  </main>
	</Layout>  
